# MTK project .rc configure 
on early-init
    mkdir /mnt/usbotg 0000 system system

on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2


# STP, WMT, GPS, FM and BT Driver
    insmod /system/lib/modules/mtk_hif_sdio.ko
    insmod /system/lib/modules/mtk_stp_wmt.ko
    insmod /system/lib/modules/mtk_stp_uart.ko
    insmod /system/lib/modules/mtk_stp_gps.ko
    insmod /system/lib/modules/mtk_stp_bt.ko
    insmod /system/lib/modules/mtk_fm_drv.ko
    insmod /system/lib/modules/mtk_fm_priv.ko
    insmod /system/lib/modules/mtk_wmt_wifi.ko

# Create char device file for WMT, GPS, BT, FM, WIFI
    mknod /dev/stpwmt c 190 0;
    mknod /dev/stpgps c 191 0;
    mknod /dev/stpbt  c 192 0;

    chmod 0660 /dev/stpwmt
    chown system system /dev/stpwmt
 
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

#Camera
    chmod 0660 /dev/OV8825AF
    chown system camera /dev/OV8825AF
#//<2013/03/15-22867-alberthsiao, Add VCM driver for camera imx111 auto focus
    chmod 0660 /dev/IMX111AF
    chown system camera /dev/IMX111AF
#//>2013/03/15-22867-alberthsiao
# BT
    chmod 0660 /dev/stpbt
    chown bluetooth radio /dev/stpbt

# GPS
    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 777 /data/misc/wifi/sockets
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

#Disable for one Single loader
# Load WiFi Driver
#   insmod /system/lib/modules/wlan.ko

# Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

#
# Connectivity related device nodes & configuration (end)
#

# Encrypt phone function
    setprop vold.post_fs_data_done 1


on boot

#
# Connectivity related services (Begin)
#
service 662x_launcher /system/bin/logwrapper /system/bin/6620_launcher -b 4000000 -p /system/etc/firmware/ -d /dev/ttyMT2
    user system
    group system
    class core

service stp_dump /system/bin/stp_dump3
    user system
    group system net_admin
    class main
#   oneshot

service wlanLoader /system/bin/wlan_loader
    user root
    group root
    class main
    oneshot
## Begin_Arima_HCSW7_20130507_JohnnyZheng - [ThunderSoft] Pelican-delivery-20130506 - marked
###Begin_Arima_HCSW7_20130423_ChrisTsai - [ThunderSoft] SoMC patch 0423
##service dhcpcd_bnep0 /system/bin/dhcpcd -B -t 30
##    disabled
##    oneshot
##
##service dhcpcd_wlan0 /system/bin/dhcpcd -B -d -t 30
##    class late_start
##    disabled
##    oneshot
###End_Arima_HCSW7_20130423_ChrisTsai - [ThunderSoft] SoMC patch 0423
## End_Arima_HCSW7_20130507_JohnnyZheng - [ThunderSoft]
#
# Connectivity related services (End)
#
