on init
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
# Workarunod for USB unknow device issue
# USB would switch correct function when set properity sys.usb.config
    setprop sys.usb.vid 0FCE
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
#//>2013/5/3-24564-allenchen

#<<EricHsieh,2013/5/10, Fixed the PC companion can be directly install
#//<<EricHsieh,2013/5/16,Fixed the CDROM will register twice.
on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun1/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun1/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/f_rndis/manufacturer MediaTek    
    write /sys/class/android_usb/android0/f_rndis/vendorID $sys.usb.vid

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config

# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state $sys.usb.config

#1.acm
on property:sys.usb.config=acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 0006
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 02
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#2.adb
on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 0C01
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#3.adb,acm
on property:sys.usb.config=adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200E
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#4.mass_storage
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct E1A3
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#5.mass_storage,adb
on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 61A3
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#6.mtp
on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 01A3
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#7.mtp,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
on property:sys.usb.config=mtp,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2012
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#8.mtp,adb
on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 51A3
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#9.mtp,adb,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
on property:sys.usb.config=mtp,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200A
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen

#10.mtp,mass_storage
on property:sys.usb.config=mtp,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2016
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#11.mtp,mass_storage,adb
on property:sys.usb.config=mtp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2017
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#12.ptp
on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200B
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#13.ptp,acm
on property:sys.usb.config=ptp,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2013
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#14.ptp,adb
on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200C
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#15.ptp,adb,acm
on property:sys.usb.config=ptp,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200D
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#16.ptp,mass_storage
on property:sys.usb.config=ptp,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2015
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#17.ptp,mass_storage,adb
on property:sys.usb.config=ptp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2014
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#18.rndis
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 71A3
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#19.rndis,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
on property:sys.usb.config=rndis,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2011
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#20.rndis,adb
on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 81A3
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
#21.rndis,adb,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
on property:sys.usb.config=rndis,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2010
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen

#22.mass_storage,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
on property:sys.usb.config=mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200F
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_mass_storage/bicr 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/vold/179:10"
    write /sys/class/android_usb/android0/f_mass_storage/lun1/file "/dev/block/vold/179:96"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen

#23.mass_storage,adb,acm
#//<2013/5/3-24564-allenchen, [Pelican] Change VID/PID for SoMC.
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
on property:sys.usb.config=mass_storage,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 0005
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_mass_storage/bicr 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/vold/179:10"
    write /sys/class/android_usb/android0/f_mass_storage/lun1/file "/dev/block/vold/179:96"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config  
#//>2013/06/11-25918-kevinchiu
#//>2013/5/3-24564-allenchen
    
#24.mtp,mass_storage,acm
on property:sys.usb.config=mtp,mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2018
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#25.mtp,mass_storage,adb,acm
on property:sys.usb.config=mtp,mass_storage,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2019
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#26.ptp,mass_storage,acm
on property:sys.usb.config=ptp,mass_storage,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 201A
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#27.ptp,mass_storage,adb,acm
on property:sys.usb.config=ptp,mass_storage,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 201B
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#28. USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d00
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#39. USB accessory configuration, with adb
on property:sys.usb.config=accessory,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#<2013/5/3-Stevenshi, add "accessory,adb,acm" config for cts verifier case : USB Accessory Test
on property:sys.usb.config=accessory,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#>2013/5/3-Stevenshi, add "accessory,adb,acm" config for cts verifier case : USB Accessory Test

#30. audio accessory configuration
on property:sys.usb.config=audio_source
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d02
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#31. audio accessory configuration, with adb
on property:sys.usb.config=audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d03
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#32. USB and audio accessory configuration
on property:sys.usb.config=accessory,audio_source
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d04
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#33. USB and audio accessory configuration, with adb
on property:sys.usb.config=accessory,audio_source,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d05
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#34.USB Charging Only configuration
on property:sys.usb.config=charging
    setprop sys.usb.state $sys.usb.config
    setprop sys.usb.charging yes

on property:sys.usb.charging=yes
    write /sys/devices/platform/mt_usb/cmode 2

on property:sys.usb.charging=no
    write /sys/devices/platform/mt_usb/cmode 1

#35.USB BICR configuration(mass_storage)
#on property:sys.usb.config=bicr
#//<2013/06/11-25918-kevinchiu,Change USB PID VID for SONY
on property:sys.usb.config=cdrom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 41A3
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#//>2013/06/11-25918-kevinchiu

#36.USB BICR configuration(mass_storage+adb)
#on property:sys.usb.config=bicr,adb
on property:sys.usb.config=cdrom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 0C03
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#37.USB BICR configuration(mass_storage+adb+acm)
#on property:sys.usb.config=bicr,adb,acm
on property:sys.usb.config=cdrom,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 0005
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions mass_storage,adb,acm
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#38.USB BICR configuration(mass_storage+acm)
#on property:sys.usb.config=bicr,acm
on property:sys.usb.config=cdrom,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 200F
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions mass_storage,acm
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#39.eem
on property:sys.usb.config=eem
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2026
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#40.eem,acm
on property:sys.usb.config=eem,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2027
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

#41.eem,adb
on property:sys.usb.config=eem,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2028
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#42.eem,adb,acm
on property:sys.usb.config=eem,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 2029
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
       
#43.mtp,adb,acm
on property:sys.usb.config=mtp,cdrom,adb,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 20A1
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb,acm
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,cdrom,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 20A2
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
    
#44.mtp,adb,acm
on property:sys.usb.config=mtp,cdrom,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 20A3
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/functions mtp,mass_storage,acm
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
    
    #45.mtp,adb
on property:sys.usb.config=mtp,cdrom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor $sys.usb.vid
    write /sys/class/android_usb/android0/idProduct 41A3
    #write /sys/class/android_usb/android0/functions mtp,mass_storage
    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"
    write /sys/class/android_usb/android0/functions mtp,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config
#>>EricHsieh,2013/5/10, Fixed the PC companion can be directly install

#<<AngusLi,2013/6/13, Modify for "For_ARIMA89_WE_S_JB2_ALPS.JB2.MP.V1.7_P56"
#45.acm third port for bt
on property:sys.usb.config=acm_third
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0BB4
    write /sys/class/android_usb/android0/idProduct 0005
    write /sys/class/android_usb/android0/f_acm/port_index 3
    write /sys/class/android_usb/android0/functions mass_storage,adb,acm
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
#>>AngusLi,2013/6/13

#on property:sys.usb.bicr=yes
#    write /sys/class/android_usb/android0/f_mass_storage/bicr 1
#    write /sys/class/android_usb/android0/f_mass_storage/lun/file "/dev/block/loop0"

on property:sys.usb.bicr=no
    write /sys/class/android_usb/android0/f_mass_storage/bicr 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/file "0"
    write /sys/class/android_usb/android0/f_mass_storage/lun1/file "0"
#//>>EricHsieh,2013/5/16,Fixed the CDROM will register twice.
