# MTK project .rc configure 

on post-fs-data
#
# SHARED_SDCARD related directory & configuration (begin)
#

# we will remap this as /mnt/sdcard with the sdcard fuse tool
		mkdir /data/media 0775 media_rw media_rw
		chown media_rw media_rw /data/media
		
#
# SHARED_SDCARD related directory & configuration (end)
#


on boot
#
# SHARED_SDCARD related services (Begin)
#

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media 1023 1023
class late_start

#
# SHARED_SDCARD related services (End)
#
