# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

#import /init.${ro.hardware}.rc
import /init.trace.rc

#import init.xlog.rc

on early-init
    # Set init and its forked children's oom_adj.
    write /proc/1/oom_adj -16

    # Set the security context for the init process.
    # This should occur before anything else (e.g. ueventd) is started.
    setcon u:r:init:s0

    start ueventd

# create mountpoints
    mkdir /mnt 0775 root system



on early_property:ro.build.type=user
    write /proc/bootprof "INIT: user build setting"
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/telephony-common.jar:/system/framework/mms-common.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/mediatek-common.jar:/system/framework/mediatek-framework.jar:/system/framework/mediatek-op.jar:/system/framework/secondary-framework.jar:/system/framework/CustomProperties.jar

on early_property:ro.build.type=userdebug
    write /proc/bootprof "INIT: userdebug build setting"
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/telephony-common.jar:/system/framework/mms-common.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/mediatek-common.jar:/system/framework/mediatek-framework.jar:/system/framework/mediatek-op.jar:/system/framework/secondary-framework.jar:/system/framework/CustomProperties.jar

on early_property:ro.build.type=eng
    write /proc/bootprof "INIT: eng build setting"
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/telephony-common.jar:/system/framework/mms-common.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/mediatek-common.jar:/system/framework/mediatek-framework.jar:/system/framework/mediatek-op.jar:/system/framework/secondary-framework.jar:/system/framework/CustomProperties.jar:/system/framework/emma.jar

on early_property:ro.hardware=mt6589
    setprop ro.mtk.hardware mt6589

on init

sysclktz 0

loglevel 6
    write /proc/bootprof "INIT: on init start"

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export ANDROID_STORAGE /storage

    export ASEC_MOUNTPOINT /mnt/asec
    export LOOP_MOUNTPOINT /mnt/obb

# Backward compatibility
    symlink /system/etc /etc
    symlink /sys/kernel/debug /d

# Right now vendor lives on the same filesystem as system,
# but someday that may change.
    symlink /system/vendor /vendor

# Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid


    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /config 0500 root root

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell 0700 shell shell
    # mkdir /storage 0050 root sdcard_r
    mkdir /storage 0055 root sdcard_r

    mkdir /mnt/cd-rom 0000 system system

    # Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root
    # Create private mountpoint so we can MS_MOVE from staging
    mount tmpfs tmpfs /mnt/secure mode=0700,uid=0,gid=0

    # Directory for staging bindmounts
    mkdir /mnt/secure/staging 0700 root root

    # Directory-target for where the secure container
    # imagefile directory will be bind-mounted
    mkdir /mnt/secure/asec  0700 root root

    # Secure container public mount points.
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000

    # Filesystem image public mount points.
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
    write /proc/sys/kernel/randomize_va_space 2
    write /proc/sys/kernel/kptr_restrict 2
    write /proc/sys/kernel/dmesg_restrict 1
    write /proc/sys/vm/mmap_min_addr 32768
    write /proc/sys/kernel/sched_rt_runtime_us 950000
    write /proc/sys/kernel/sched_rt_period_us 1000000


# Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0660 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 950000
    write /dev/cpuctl/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/apps
    chown system system /dev/cpuctl/apps/tasks
    chmod 0666 /dev/cpuctl/apps/tasks
    write /dev/cpuctl/apps/cpu.shares 1024
    write /dev/cpuctl/apps/cpu.rt_runtime_us 800000
    write /dev/cpuctl/apps/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/apps/bg_non_interactive
    chown system system /dev/cpuctl/apps/bg_non_interactive/tasks
    chmod 0666 /dev/cpuctl/apps/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/apps/bg_non_interactive/cpu.shares 52
    write /dev/cpuctl/apps/bg_non_interactive/cpu.rt_runtime_us 700000
    write /dev/cpuctl/apps/bg_non_interactive/cpu.rt_period_us 1000000


# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
    chmod 0644 /dev/xt_qtaguid

# Change ION driver permission
    chmod 0644 /dev/ion

# Change MMP driver permission
    chmod 0644 /dev/mmp

# change lk_env permission
    chown root system /proc/lk_env
    chmod 0660 /proc/lk_env

# mount different fs start

on fs_property:ro.mount.fs=YAFFS
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    write /proc/bootprof "INIT:NAND:Mount_START"
    mount yaffs2 mtd@system /system

# via: set ril and pppd
    chown root /system/bin/pppd
    chmod 4755 /system/bin/pppd
    chown root /system/etc/ppp/ip-up-cdma
    chmod 4755 /system/et/ppp/ip-up-cdma
    chown root /system/etc/ppp/ipv6-up-cdma
    chmod 4755 /system/etc/ppp/ipv6-up-cdma
    chown root /system/etc/ppp/link-down-cdma
    chmod 4755 /system/etc/ppp/link-down-cdma

    mkdir /system/secro 0600 system system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    # mount secro partition
    mount yaffs2 mtd@secstatic /system/secro ro
    write /proc/bootprof "INIT:NAND:Mount_END"

on fs_property:ro.mount.fs=EXT4
    write /proc/bootprof "INIT:eMMC:Mount_START"
    exec /sbin/e2fsck -p /emmc@android
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    #mount ext4 emmc@android /system wait commit=1,data=journal,noauto_da_alloc
    mount ext4 /emmc@android /system wait commit=1,noauto_da_alloc

    mkdir /system/secro 0600 system system
    # RIL need to do this before the folder /system changed to read only
    chown radio system /system/etc/ril
    chmod 0770 /system/etc/ril
    chmod 0444 /system/etc/ril/oper.lis
    # Wifi thermal need to chmod before system is changed to read only
    chown root system /system/etc/throttle.sh
    chmod 0750 /system/etc/throttle.sh
    mount ext4 /emmc@android /system noatime ro remount wait
    exec /sbin/e2fsck -pfD /emmc@usrdata
    exec /sbin/tune2fs -O has_journal /emmc@usrdata
    exec /system/bin/ext4_resize
    mount ext4 /emmc@usrdata /data noatime nosuid nodev wait noauto_da_alloc,discard
    exec /sbin/e2fsck -p /emmc@cache
    exec /sbin/tune2fs -O has_journal /emmc@cache
    mount ext4 /emmc@cache /cache noatime nosuid nodev wait noauto_da_alloc,discard
    mount ext4 /emmc@sec_ro /system/secro ro wait
    write /proc/bootprof "INIT:eMMC:Mount_END"

on fs_property:ro.mount.fs=UBIFS
    write /proc/bootprof "INIT:NAND:Mount_START"
    mount ubifs ubi@system /system
# via: set ril and pppd
    chown root /system/bin/pppd
    chmod 4755 /system/bin/pppd
    chown root /system/etc/ppp/ip-up-cdma
    chmod 4755 /system/et/ppp/ip-up-cdma
    chown root /system/etc/ppp/ipv6-up-cdma
    chmod 4755 /system/etc/ppp/ipv6-up-cdma
    chown root /system/etc/ppp/link-down-cdma
    chmod 4755 /system/etc/ppp/link-down-cdma
    # Wifi thermal need to chmod before system is changed to read only
    chown root system /system/etc/throttle.sh
    chmod 0750 /system/etc/throttle.sh

    mkdir /system/secro 0600 system system
    mount ubifs ubi@system /system ro remount
    mount ubifs ubi@userdata /data nosuid nodev
    mount ubifs ubi@cache /cache nosuid nodev
	  mount ubifs ubi@secstatic /system/secro ro
    write /proc/bootprof "INIT:NAND:Mount_END"

# mount different fs end


on fs

   mount iso9660 loop@/system/mobile_toolkit/iAmCdRom.iso /mnt/cd-rom ro
on post-fs
    # once everything is setup, no need to modify /
    mount rootfs rootfs / ro remount
    # mount shared so changes propagate into child namespaces
    mount rootfs rootfs / shared rec
    mount tmpfs tmpfs /mnt/secure private rec

    # We chown/chmod /cache again so because mount is run as root + defaults
    chown system cache /cache
    chmod 0770 /cache
    # We restorecon /cache in case the cache partition has been reset.
    restorecon /cache

    # This may have been created by the recovery system with odd permissions
    mkdir /cache/recovery 0770 system cache
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery
    # This may have been created by the recovery system with the wrong context.
    restorecon /cache/recovery

    #change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

    #change permissions for mediaserver
    chown root media /proc/clkmgr/mipi_test

    #change permission for engineer mode
    chown radio system /proc/clkmgr/pll_test
    chown radio system /proc/clkmgr/pll_fsel

    #change permission for engineer mode
    chown radio system /proc/freqhopping/dramc
    chown radio system /proc/freqhopping/dumpregs
    chown radio system /proc/freqhopping/freqhopping_debug
    chown radio system /proc/freqhopping/status
    chown radio system /proc/freqhopping/userdef

    #change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger
    chown system log /proc/last_kmsg
    chmod 0440 /proc/last_kmsg

    # create the lost+found directories, so as to enforce our permissions
    mkdir /cache/lost+found 0770 root root


# change owner
    chown root system /proc/bootprof
    chown root system /proc/mtprof/cputime

on post-fs-data
    # We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data
    # We restorecon /data in case the userdata partition has been reset.
    restorecon /data

    # Create dump dir and collect dumps.
    # Do this before we mount cache so eventually we can use cache for
    # storing dumps on platforms which do not have a dedicated dump partition.
    mkdir /data/dontpanic 0750 root log

    # Collect apanic data, free resources and re-arm trigger
    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1

    # create basic filesystem structure
    mkdir /data/nvram 0770 root nvram
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/adb 02750 system shell
    mkdir /data/misc/bluedroid 0770 bluetooth net_bt_stack
#need to check
#    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/keychain 0771 system system
    mkdir /data/misc/sms 0770 system radio
    mkdir /data/misc/vpn 0770 system vpn
    mkdir /data/misc/systemkeys 0700 system system
    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    mkdir /data/local 0751 root root
    # For security reasons, /data/local/tmp should always be empty.
    # Do not place files or directories in /data/local/tmp
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app-asec 0700 root root
    mkdir /data/app-lib 0771 system system
    mkdir /data/app 0771 system system
    mkdir /data/property 0700 root root
    mkdir /data/ssh 0750 root shell
    mkdir /data/ssh/empty 0700 root root


    #give system access to rfkill device node
    chmod 0660 /dev/rfkill

    # create dalvik-cache, so as to enforce our permissions
    mkdir /data/dalvik-cache 0771 system system

    # create resource-cache and double-check the perms
    mkdir /data/resource-cache 0771 system system
    chown system system /data/resource-cache
    chmod 0771 /data/resource-cache

    # create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770 root root

    # create for muxd pts device node , to operate without root
    mkdir /dev/radio 0770 radio radio

    # create directory for DRM plug-ins
    mkdir /data/drm 0774 drm system
    mkdir /data/drm/wv 0770 drm system

    # If there is no fs-post-data action in the init.<device>.rc file, you
    # must uncomment this line, otherwise encrypted filesystems
    # won't work.
    # Set indication (checked by vold) that we have finished this action
    #setprop vold.post_fs_data_done 1

# -----------------------
# Add by MTK

    # dhcp server
    mkdir /data/misc/dhcp 0770 dhcp wifi
    chown dhcp wifi /data/misc/dhcp

    # radvd
    mkdir /data/misc/radvd 0770 system system
    chmod 444 /etc/radvd/radvd.conf

    # SGX
    insmod /system/lib/modules/pvrsrvkm.ko
    insmod /system/lib/modules/mtklfb.ko

    # Permissions for System Server and daemons.
    chown root   radio  /sys/class/leds/lcd-backlight/brightness
    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div

    # Touch Panel
    chmod 0664 /dev/touch
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    chmod 0660 /dev/pmem_multimedia
    chown system media /dev/pmem_multimedia

    # watch dog kicker
    write /proc/wdk "0 20 30"

    # set ptmx group to non-root
    chown root radio /dev/ptmx

    # RTC
    mkdir /data/misc/rtc 0770 system system

    # M4U
    #insmod /system/lib/modules/m4u.ko
    #mknod /dev/M4U_device c 188 0
    chmod 0444 /dev/M4U_device
    #chown system media /dev/M4U_device

    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope

    chmod 0660 /sys/devices/platform/msensor/driver/cpsopmode
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptxy
    chmod 0660 /sys/devices/platform/msensor/driver/cpsreptz

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown system system /dev/gsensor
    chown system system /dev/als_ps
    chown system system /dev/gyroscope

    #Accdet
    chown root radio /sys/devices/platform/Accdet_Driver/driver/accdet_call_state
    #VideoCodec
    insmod /system/lib/modules/vcodec_kernel_driver.ko
    mknod /dev/Vcodec c 160 0
    chmod 0660 /dev/Vcodec
    chown system media /dev/Vcodec

    #kpd
    chown radio radio /sys/devices/platform/mtk-kpd/driver/kpd_call_state

    mkdir /data/amit/ 0770 system system
    mkdir /data/misc/sensors 0664 system system
    mkdir /data/misc/akmd 0664 system system
    chown system /sys/class/input/input5/enable
    chown system /sys/class/input/input5/delay
    chown system /sys/class/input/input5/wake
    chown system /sys/class/input/input3/enable
    chown system /sys/class/input/input3/wake
    chown system /sys/class/input/input4/offsets
    chown system /sys/class/input/input4/dynamic_matrix
    chown system /sys/devices/platform/msensor/driver/cpsopmode
    chown system /sys/devices/platform/msensor/driver/cpsreptxy
    chown system /sys/devices/platform/msensor/driver/cpsreptz

    # GPIO
    chmod 0664 /dev/mtgpio

    # SPM SODI Enable
    chown media /proc/mcdi/sodi_en
    chmod 0664 /proc/mcdi/sodi_en

        #EM eint
    chown root diag /sys/bus/platform/drivers/eint/current_eint

    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    # EM baseband file
    chown root diag /system/bin/baseband_regdump
    chmod 4750 /system/bin/baseband_regdump

    #pmu
    chown root radio /sys/devices/platform/mt-pmic/pmic_access
    chmod 0664 /sys/devices/platform/mt-pmic/pmic_access

    # EM CPU Speed Stress
    chown root radio /proc/cpu_ss/cpu_ss_debug_mode
    chown root radio /proc/cpu_ss/cpu_ss_mode
    chown root radio /proc/cpu_ss/cpu_ss_period
    chown root radio /proc/cpu_ss/cpu_ss_period_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_debug_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_mode
    chmod 0664 /proc/cpu_ss/cpu_ss_period
    chmod 0664 /proc/cpu_ss/cpu_ss_period_mode

    #EM eint
    chown root diag /sys/bus/platform/drivers/eint/current_eint

    # for ppp options file
    mkdir /data/misc/ppp 0770 bluetooth net_bt

    # Android SEC related device nodes
    insmod /system/lib/modules/sec.ko
    mknod /dev/sec c 182 0
    chmod 0660 /dev/sec
    chown root system /dev/sec

    # FM Radio device node
    mknod /dev/fm     c 193 0;
    chmod 0660 /dev/fm
    chown system media /dev/fm

    # device apc settings
    insmod /system/lib/modules/devapc.ko

    # device info /proc interface
    insmod /system/lib/modules/devinfo.ko
    mknod /dev/devmap c 196 0;
    chmod 0444 /dev/devmap
    chown root media /dev/devmap

    # bluetooth
    mkdir /data/@btmtk 0770 bluetooth net_bt
    chown bluetooth bluetooth /dev/hid-keyboard
    chmod 0660 /dev/hid-keyboard
    chown bluetooth bluetooth /dev/btn
    chmod 0660 /dev/btn
    #Use uinput's default permission
    chown system net_bt_admin /dev/uinput

    #TV-out
    chmod 0664 /dev/TV-out

    #External Display Service
    chmod 0664 /dev/ext_display

    #HDMI
    chmod 0664 /dev/hdmitx

    # JPEG
    chmod 0444 /dev/mtk_jpeg
    chmod 0444 /dev/mtk_gdma
    chmod 0444 /dev/mtk_gfmt
    chmod 0444 /dev/mtk_almk

    # DISP
    chmod 0444 /dev/mtk_disp

    #Camera
    chmod 0664 /dev/camera-sysram
    chmod 0664 /dev/camera-isp
    chmod 0664 /dev/camera-pipemgr
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/FM50AF
    chmod 0660 /dev/CAM_CAL_DRV

    chown system camera /dev/camera-sysram
    chown system camera /dev/camera-isp
    chown system camera /dev/camera-pipemgr
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/kd_camera_flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/FM50AF
    chown system camera /dev/CAM_CAL_DRV

    #MATV
    chmod 0660 /dev/MATV
    chown system media /dev/MATV

    # otg_test
    chown root radio /dev/mt_otg_test
    chmod 0660 /dev/mt_otg_test

    # MDP
    chmod 0660 /dev/mt-mdp
    chown system media /dev/mt-mdp

    # G2D
    chmod 0660 /dev/mtkg2d
    chown system media /dev/mtkg2d

    #for eng mode
    chmod 0664 /dev/misc-sd

    chmod 0660 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown system media /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown system media /dev/MTK_SMI

    #mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/mtk_sched

# End of adding by MTK drivers
# -----------------------

on boot


# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

    class_start default

on ipo
# xlog
    start xlogboot

# basic network init
    ifup lo
    hostname localhost
    domainname localdomain

# set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# Memory management.  Basic kernel parameters, and allow the high
# level system server to be able to adjust the kernel OOM driver
# parameters to match how it is managing things.
    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    chown root system /sys/module/lowmemorykiller/parameters/adj
    chmod 0664 /sys/module/lowmemorykiller/parameters/adj
    chown root system /sys/module/lowmemorykiller/parameters/minfree
    chmod 0664 /sys/module/lowmemorykiller/parameters/minfree

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_writeback_centisecs 300
    write /proc/sys/vm/dirty_background_ratio  5

    # Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
	chown system system /sys/power/autosleep
    chown system system /sys/power/state
    chown system system /sys/power/wakeup_count
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock

	chmod 0660 /sys/power/autosleep
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chmod 0664 /sys/class/leds/lcd-backlight/brightness


    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0
    class_start ipo
    class_start main
    class_start core

## Daemon processes to be run by init.
##

# Update the second boot logo
service bootlogoupdater /system/bin/boot_logo_updater
    oneshot

service ueventd /sbin/ueventd
    class core
    critical

service console /system/bin/sh
    class core
    console
    disabled
    user root
    group log

on property:ro.debuggable=1
    start console

# adbd is controlled via property triggers in init.<platform>.usb.rc
service adbd /sbin/adbd
    class core
    disabled

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

service debuggerd /system/bin/debuggerd
    class main

service mobile_log_d /system/bin/mobile_log_d
    class main

# SGX init
service pvrsrvctl /system/vendor/bin/pvrsrvctl --start
    class main
    user root
    group root
    oneshot

service servicemanager /system/bin/servicemanager
    class core
    user system
    group system
    #critical
    onrestart restart pq
    onrestart restart zygote
    onrestart restart media
    onrestart restart surfaceflinger
    onrestart restart drm
    onrestart restart aal

service surfaceflinger /system/bin/surfaceflinger
    class main
#    user system
    group graphics
    onrestart restart zygote

service ipod /system/bin/logwrapper /system/bin/ipod
    user root
    group root
    class ipo

